In [1]:
#1. Print number from 1 to 5 using a while loop.

In [2]:
n = 6
i = 1
while i < n :
    print(i)
    i = i + 1

1
2
3
4
5

In [3]:
#2. Calclate the sum of number from 1 to 10 using a while loop.

In [4]:
n = int(input("enter a number: "))
i = 1
sum = 0
while (i <= n):
    sum = sum + i
    i = i + 1
print("The sum is: ", sum)

enter a number:  10

The sum is:  55

In [5]:
#3. Calclate the factorial of a number using a for loop.

In [6]:
num = int(input("enter a number: "))
fact = 1
for i in range(1,num+1) :
    fact = fact*i
print("factorial number is:" ,fact)

enter a number:  5

factorial number is: 120

In [7]:
#4. Count the number of vowels in a string using a for loop.

In [8]:
sentence = input('Enter a string: ')
vowel = ["A","a","E","e","I","i","O","o","U","u"]
Count = 0
for letter in sentence:
    if letter in vowel:
        Count += 1
print("Total number of vowels in a string: ",Count)

Enter a string:  Pwskills Is A Best Platform For Learning

Total number of vowels in a string:  10

In [9]:
#5. Print a pattern using nested loop.

In [10]:
for i in range(5):
    for j in range(i + 1):
        print("*", end = "")
    print()

*
**
***
****
*****

In [11]:
#6. Generate a multiplication table using nested loop.

In [12]:
number = int(input("Enter the number: "))
for count in range(1,11):
    for j in range(11):
        product = number * count
    print(number, "X", count, "=", product)

Enter the number:  17

17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170